{% extends "base.html" %}
{% block titel %}{{ klasse.bezeichnung }} – Notenverwaltung{% endblock %}
{% block inhalt %}
  <h1>{{ klasse.bezeichnung }}</h1>
  <p class="hinweis">
    Schuljahr {{ klasse.schuljahr.bezeichnung }} ·
    <a href="/verwaltung/klassen/{{ klasse.id }}">verwalten</a>
  </p>

  {% if kurse %}
    <ul class="liste">
      {% for kurs in kurse %}
        <li><a href="/kurse/{{ kurs.id }}">{{ kurs.fach }}</a>
          <span class="hinweis"><a href="/kurse/{{ kurs.id }}/leistungen">Noten eintragen</a></span></li>
      {% endfor %}
    </ul>
  {% endif %}

  {% include "_umschalter.html" %}

  {% if schueler %}
    <ul class="kachelliste">
      {% for s in schueler %}<li>{% include "_kachel.html" %}</li>{% endfor %}
    </ul>
  {% else %}
    <p class="hinweis">
      Kein aktiver Schüler in dieser Klasse.
      <a href="/verwaltung/klassen/{{ klasse.id }}">Schüler anlegen</a>
    </p>
  {% endif %}
{% endblock %}
